.table{
  margin: 30px 0 100px;
  dl{
    display: grid;
    grid-template-columns: 50px 15% auto 15% 15% 15%;
    text-align: center;
    align-items: center;
    dt{
      color: var(--primary);
    }
    border-bottom: 1px solid var(--clborder);
    margin-bottom: 0;
    margin-top: 0;
    padding: 15px;
  }
  ul ~ ul {
    margin-top: 10px;
  }
}

.amount{
  margin-right: 20px;
}

@media (max-width: 1024px) {
  .table{
    min-width: 1000px;
  }
  .wrapper{
    overflow-x: scroll;
  }
}