.wrapper{
  background: #ffffff;
  width: 100%;
  height: 100%;
  box-shadow: 0 7px 29px 0 hsla(240, 5%, 41%, 0.2);
  border-radius: 10px;
  padding-top: 10px;
  min-width: 500px;
  min-height: 100px;
  overflow: hidden;
}